<html>
  <head>
    <title>Articles | Create</title>
  </head>
  <body>
    <form method="POST" action="/articles">
      <label for="title">Title</label>
      <br />
      <input type="text" name="title" id="title" />
      <br />

      <label for="body">Body</label>
      <br />
      <textarea name="body" id="body" cols="30" rows="10"></textarea>
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
